<h1> Listing posts</h1>

<% @posts.each do |post| %>
<hr>
<p>
    <strong>Title:</strong>
    <%= post.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= post.text %>
</p>   
<% end %>

<%= link_to 'Home', controller: "welcome" %><br>
